
.toggle {
  display: flex;
}

.toggle input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  padding-left: 1rem;
  display: flex;
  justify-content: center;
}

.status span {
  font-weight: bold;
}

.passwordField {
  width: 60%;
}

.passwordContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  color: #4a5568;
  font-weight: 500;
  padding: 0 0.5rem;
  margin: 0.5rem 0rem;
}

.error {
  border: 1px solid red !important;
}