.createNoteWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%
}

.header {
  color: #667eea;
  font-weight: bold;
}

.noteForm {
  background: rgba(255, 255, 255, 0.9);
  width: 50%;
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 80%;
}


.noteForm textarea {
  width: -webkit-fill-available;
  padding: 1rem;
  margin: 0.5rem 0rem;
  border: 2px solid #e2e8f099;
  border-radius: 12px;
  font-size: 1rem;
  background: #ffffffe6;
  color:#888;
}

.noteForm textarea {
  height: 150px;
}


.noteForm textarea:focus {
  outline: none;
  border-color: #667eea;
  background: white;
}

.noteContentError {
  border: 1px solid red !important;
}




